<div class="modal fade" id="change_datetime_show" tabindex="-1" role="dialog" aria-labelledby="change_datetime_show_ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="change_datetime_show_ModalLabel">Change Time Zone</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <br>
                <div class='row'>
                    <div class = 'col-12'>
                        SELECT EVENT:
                        <select id="SELECT_EVENT_ID" class="browser-default custom-select">
                            <option selected="" value="0">SELECT DATETIME ZONE</option>
                            <option value="1">UTC</option>
                            <option value="5">GMT (Thailand)</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id = "modal_confirm_add_device_to_event" type="button" class="button-save">Save</button>
                <button id = "modal_close" type="button" class="button-close " data-dismiss="modal">Close</button>
            </div>
      </div>
    </div>
</div>


<!-- data-toggle="modal" data-target="#change_datetime_show" -->